/********** Template CSS **********/
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/course-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    transition: .5s;
    cursor: pointer;
    box-shadow: 0px 0px 5px #a7ad0042;
}


.service-item:hover {
    margin-top: -10px;
    /* background: var(--primary); */
    background: rgb(116, 166, 151);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
    width: 100%;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/* third project */
.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 42px;
    align-items: stretch;
}
.hlogo{
    width: 343px;
    height: 67px;
    display: flex;
    align-items: center;
}
.logoText {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h5logo {
    transform: rotate(270deg);
    height: 0px;
    font-size: 12px;
    color: #9fb530;
    font-weight: 900;
}
.invico {
    font-weight: 900;
    font-size: 40px;
    border-radius: 100%;
    width: 62px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #a2b31b;
    box-shadow: 0px 0px 5px;
    align-items: center;
}

.invico5 {
    font-weight: 900;
    font-size: 40px;
    border-radius: 100%;
    width: 62px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    box-shadow: 0px 0px 5px;
    align-items: center;
    background-color: #ce7918;
}
.invico2 {
    font-weight: 900;
    font-size: 40px;
    border-radius: 100%;
    width: 62px;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    box-shadow: 0px 0px 5px;
    align-items: center;
    background-color: #ce1818;
}
.invDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
    width: 23%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDivInv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
    width: 23%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 10px #ce7918;
    border-radius: 10px;
    width: 23%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 10px #ce1818;
    border-radius: 10px;
    width: 23%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
    width: 45%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDiv4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
    width: 45%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDiv5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
    width: 45%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.invDiv6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 10px;
    width: 45%;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.testimonial-item.text-center.invDiv:hover {
    background-color: #328a97;
    transition: 0.5s;
    margin-top: -10;
    .invico{
        color: #ffffff;
        box-shadow: 0px 0px 5px;
        align-items: center;
    }
    .mapa{
        color: #fff;
    }
    .btnAcpt {
        background-color: #328a97 !important;
        transition: 0.5s;
        color: #fff;
    }
    .HosBtns{
        background-color: #328a97 !important;
        transition: 0.5s;
    }
    .AfterHov{
        color: #fff;
    }

}
.testimonial-item.text-center.invDiv1:hover {
    background-color: #328a97;
    transition: 0.5s;
    margin-top: -10;
    .invico{
        color: #ffffff;
        box-shadow: 0px 0px 5px;
        align-items: center;
    }
    .mapa{
        color: #fff;
    }
    .btnAcpt {
        background-color: #328a97 !important;
        transition: 0.5s;
        color: #fff;
    }
    .HosBtns{
        background-color: #328a97 !important;
        transition: 0.5s;
    }
    .AfterHov{
        color: #fff;
    }

}
.testimonial-item.text-center.invDiv2:hover {
    background-color: #328a97;
    transition: 0.5s;
    margin-top: -10;
    .invico{
        color: #ffffff;
        box-shadow: 0px 0px 5px;
        align-items: center;
    }
    .mapa{
        color: #fff;
    }
    .btnAcpt {
        background-color: #328a97 !important;
        transition: 0.5s;
        color: #fff;
    }
    .HosBtns{
        background-color: #328a97 !important;
        transition: 0.5s;
    }
    .AfterHov{
        color: #fff;
    }

}
.btnAcpt {
    width: 95%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.outerQuoDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cf;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerQuoDiv {
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.QuoH2{
    color: #fff;
}
.QuoInput {
    width: 80%;
    border-radius: 20px;
    text-align: center;
}
.owl-carousel .owl-stage-outer {
    padding: 1px;
}
.invBtn{
    border-radius: 10px;
    background-color: #a4b100;
    transition: 0.5s;
}
.outerFOCDiv {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.outerFOCDiv2 {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.innerFOCDiv2 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
    flex-wrap: wrap;
    max-height: 90%;
    overflow-y: scroll;
}
.innerFOCDiv2::-webkit-scrollbar {width: 6px; height: 4px; background: #ffffff; }
.innerFOCDiv2::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.innerFOCDiv {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
}

.innerinFOCDiv {
    height: 90%;
    width: 90%;
}
#example_wrapper {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    margin-top: 35px;
}
#example_wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.tableHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px;
}

.BackBtn {
    border-radius: 10px;
    margin-right: 30px;
}
.allInvo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.invoices{
    height: 292px;
}

.Inputs{
    height: 292px;

}
.outerNum {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.number1 {
    width: 60px;
    height: 60px;
    background-color: #44bccd;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.num {
    color: #fff;
    margin: 0;
    font-size: 30px;
}
.service-item:hover * {
    color: var(--light) !important;
    .number1 {
        background-color: #f1fbfc;
    }
    .num{
        color: var(--dark) !important;;
    }
}
.undert{
    font-size: 48px;
}
.outerItemPrice {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #202d2fed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inrItemPrice {
    width: 60%;
    color: #fff;
}
.btnico{
    width: 20%;
    border-radius: 10px;
}
.ItemPricebtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 16px;
}
.ico {
    border-radius: 10px;
}



.main{
    height: 341px;
background-color: rgb(229 229 229 / 20%);
box-shadow: 0px 0px 10px #000000;
border-radius: 20px;
}

.mini{
height: 83%;
border-radius: 20px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
transition: 500ms;

}

.inpu{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
align-content: center;
margin-left: 21px;
flex-wrap: wrap;
border-radius: 20px;
}

.innerinpu{
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
align-content: center;
flex-wrap: wrap;
justify-content: space-evenly;
}

.in{
background-color: #eeeae5;
height: 75%;
width: 63%;
border-radius: 20px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 10px black;
}

.atag{
display: flex;
flex-direction: row;
justify-content: center;
height: 45px
}

.atag button{
width: 100%;
border-radius: 20px;
background-color: #eeeae5;
box-shadow: 0px 0px 10px black;
margin-top: 3px;
border:none;
}

#frames{
height: 77%;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: nowrap;
align-items: center;
width: 100%;
align-content: center;
}

img{
width: 80%;
height: 80%;
}


#myProgress {
width: 100%;
background-color: grey;
}

#myBar {
width: 1%;
height: 30px;
background-color: green;
}
#image{
border-radius: 12px;
font-size: 14px;
}
#upload{
border-radius: 12px;
font-size: 14px;
}

#hidimage{
height:50px;
width:50px;
}
.mainimago{
width: 100%;
height: 470px;
}
.carimago{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: nowrap;
height: 100%;
align-content: center;
align-items: center;
border: solid 1px black;
box-shadow: 5px 5px 5px #2f452f;
border-radius: 20px;
}


#callImage{
width: 30%;
height: 30%;

}
#checkpartNumber {
    width: 44%;
    border-radius: 92px;
    text-align: center;
    color: #fff;
}

.checkItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkPart2{
    width: 44%;
    border-radius: 92px;
    text-align: center;
    color: #000;
}

.img-images {
    width: 100%;
    height: 72%;
}
.bigDiv {
    height: 380px;
    background-color: #44bccd !important;
}
/* .bigDivDanger{
    height: 380px;
    background-color: #ff000014 !important;
} */
.bigDivDanger {
    height: 380px;
    background-color: #970000b5 !important;
    color: #fff;
}
.itemNamo{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.Quant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.analyzerIcon{
    color: #a6af00 !important;
}

.fontbtns{
    padding: 5px;
    border-radius: 6px;
}
.fontbtnsnormal{
    padding: 5px;
    border-radius: 6px;
    background-color: red;
}

#Avlq{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#AVLQTY{
    border: 1px solid;
    width: 60px;
    text-align: center;
    color: #fff;
}
.innerUndertestDiv {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 20px;
}

.innerUndertest {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.innerUndertest::-webkit-scrollbar {width: 6px; height: 4px; background: #ffffff; }
.innerUndertest::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.undero1{
    width: 160%;
}    
#cardo{
    width: 320px;;
    border-radius: 20px;
    margin: 10px;
    height: 465px;
}
#cardo2{
    width: 263px;
    border-radius: 20px;
    margin: 10px;
    height: 338px;
}
#cardli{
    border-bottom: 3px solid;
    height: 58pxpx;
    font-size: 18px;
    font-weight: 600;
}
#cardh{
    font-size: 20px;
}
#btndiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btndiv2{
    display: flex;
    flex-direction: row;
}
.undertestbtn{
    width: 200px;
    border-radius: 11px;

}
.undertestbtn1{
    width: 200px;
    border-radius: 11px;

}
.cirNum {
    color: #ff2323;
}
.allpage{
    width: 100%;
    height: 100%;
    background-color: #000000d6;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 55555;
}
.popcontainer {
    border-radius: 19px;
    width: 37%;
    background-color: #0000008f;
    height: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
p.containerp {
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.divbtns {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.conta{
    width: 80%;
}
#suc{
    width: 102px;
    border-radius: 10px;
}
#dan{
    width: 102px;
    border-radius: 10px;
}
.ImmDiv {
    display: flex;
}
#imgbtn {
    border-radius: 10px;
}
.imgo {
    height: 80vh;
    width: 100%;
}
h3.pannerTxt {
    color: #e6e6e6  !important; 
    font-size: 1.75rem !important;
}
.allInvoHos{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.innerinHosDiv {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 90%;
    overflow-y: scroll;
}
.innerinHosDiv::-webkit-scrollbar {width: 6px; height: 4px; background: #ffffff; }
.innerinHosDiv::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.HosBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    transition: 0.5s;
}

.HosBTns1 {
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Hosimgbtn {
    border-radius: 10px;
}

.searcho {
    width: 50%;
    border-bottom: none;
    margin-left: 25%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    text-align: center;
}
.dateDiv {
    display: flex;
}
.Tod {
    border-radius: 10px;
}
.AddSpare {
    border: none;
    background-color: transparent;
}
.invico1 {
    font-weight: 900;
    font-size: 33px;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #a2b31b;
    box-shadow: 0px 0px 5px;
    align-items: center;
}
.Sparodiv {
    width: 91%;
}
.AddSpaDiv{
    display: flex;
}
.AddedSpare {
    display: flex;
    justify-content: space-between;
}
.allDateDiv {
    width: 90%;
}
.SelItems {
    border-radius: 10px;
}
.SparPartDiv.animate__animated.animate__fadeIn {
    position: fixed;
    top: 0;
    left: 0;
    background: #0000006e;
    width: 100%;
    height: 100%;
    z-index: 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.closeDiv{
    margin-left: 32px;
}
.inrSparePartItem {
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 70%;
    overflow-y: scroll;
}
.inrSparePartItem::-webkit-scrollbar {width: 6px; height: 4px; background: #ffffff; }
.inrSparePartItem::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.AllDivs{
    width: 40px;
}

.AllDivs {
    width: 140px;
    margin: 10px;
    padding: 0;
    height: 227px;
    border: none;
    background-color: #0f4c71;
    color: #fff;
}
.spareImgDiv {
    height: 50%;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: -31px;
}
.SpareImg {
    width: 100%;
    height: 100%;
}
.sparelowerdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 37%;
    max-height: 37%;
}
.sparh5{
    color: #fff;
    margin: 0;
}
.PartNum {
    font-size: 10px;
    color: lightgray;
}
.lightSmall{
    font-size: 12px;
}
.Lot {
    color: #5a5e63;
    background-color: #e9ecef;
    margin: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BigJobSheet {
    width: 47%;
    height: 200px;
    box-shadow: 0px 0px 4px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ImgJobSheet {
    width: 38%;
    height: 100%;
    cursor: pointer;
}
.RightJobSheet {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}
.JobImg {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.rightUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 36%;
}
.rightdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60%;
}
.Down {
    display: flex;
    flex-direction: row-reverse;
}
.NoteH2 {
    color: red;
    font-size: 15px;
}
.sparoh5 {
    font-size: 12px;
}
.NoteDiv {
    width: 50%;
    height: 100%;
    max-width: 100%;
    overflow-x: scroll;
}
.NoteDiv::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.NoteDiv::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.SpareDiv {
    width: 50%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: flex-start;
    align-items: flex-end;
}
.SpareDiv::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.SpareDiv::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.collection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.SoftVersion {
    display: flex;
    justify-content: space-between;
}
.CheckBoxs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checko {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#CheckPm {
    height: 33px;
    width: 33px;
}
.details {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.detDiv1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 18px;
    height: 0px;
}
.detDiv small {
    font-size: 9px;
}

.review {
    width: 89%;
    height: 88%;
    position: absolute;
    border-radius: 10px;
    z-index: 5;
}
.OuterImagePreviewDiv {
    background-color: #00000094;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.imagLayer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100000;
}
.imageClass{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imageafter {
    width: 80%;
    height: 80%;
}
.imageClass > img{
    width: 27%;
    height: 80%;
    z-index: 100001;
    border-radius: 10px;
}
.innerExam {
    width: 80%;
    height: 90%;
}
.InnerHosName {
    color: #ce3042;
}
.innerFOCDiv3 {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-radius: 20px;
    flex-wrap: wrap;
    max-height: 90%;
    overflow-y: scroll;
}
.innerFOCDiv3::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.innerFOCDiv3::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.outerHosDiv {
    width: 100%;
}
.topHosDiv {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}
.HosDetails {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}
.HosDato {
    display: flex;
    flex-direction: column;
}
.HosDetaSmall {
    font-size: 10px;
}
.MiddHosName {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.MidLeft {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.midleftleft {
    width: 50%;
}
.Midlifto {
    width: 30%;
    height: 435px;
    max-height: 435px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.Midlifto::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.Midlifto::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.MidRight {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.UpperHosName {
    width: 100%;
    height: 300px;
    display: flex;
    padding: 10px;
    max-width: 100%;
    overflow-x: scroll;
}
.UpperHosName::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.UpperHosName::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.outerImage {
    width: 100%;
}
.innerDiv {
    width: 250px;
    height: 100%;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
}
.JobimgPhoto {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.imageClass0{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OuterUpper {
    width: 100%;
    padding: 5px;
}
.JobSheetHead {
    color: #d13143;
}
.rowbottomImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bottomImg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 235px;
    max-height: 235px;
    overflow-y: scroll;
}
.bottomImg::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.bottomImg::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.bigimgdiv {
    padding: 5px;
}
.BotImageDiv {
    width: 177px;
    height: 99px;
}
.btomoimg{
    width: 100%;
    height: 80%;
}
.container-fluid.bg-dark.text-light.footer.pt-5.mt-5.wow.fadeIn {
    padding: 0 !important;
}
.linkso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#CheckUps {
    height: 33px;
    width: 33px;
}
#CheckStab {
    height: 33px;
    width: 33px;
}
#CheckEarth {
    height: 33px;
    width: 33px;
}
.allTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allTable1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainItemStore1 {
    width: 90%;
}
#buttonNames {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-between;
}


.allbtns {
    height: 64px;
    margin: 5px;
    width: 91px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    background-color: #44bccd;
    color: #fff;
    box-shadow: 2px 2px 2px #48722f;
    border: none;
    font-family: monospace;
    transition: 0.5s;
}
.allbtns:hover{
    background-color: #b50000;
    
}
#btnallshow {
    border: none;
    border-radius: 10px;
}
.innerToDoGos {
    display: flex;

}
.mainItemStore8 {
    width: 84%;
}
.toDoHos {
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: scroll;
}
.toDoHos::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.toDoHos::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.Hoso1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 10px #ce7918;
    border-radius: 10px;
    width: 300px;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
.Hoso2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    box-shadow: 0px 0px 10px #ce1818;
    border-radius: 10px;
    width: 300px;
    height: 301px;
    justify-content: space-evenly;
    transition: 0.5s;
    margin: 10px;
}
#outslider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#inslider {
    width: 84%;
    display: flex;
    justify-content: space-evenly;
}
.pipo{
    margin: 0;
    padding: 0;
}
.inrLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.inrRight {
    display: flex;
    flex-direction: row;
    color: red;
    justify-content: space-between;
}
.innerPendDiv {
    width: 100%;
    max-width: 100%;
    position: relative;
    display: block;
    border: none;
    border-right: 1px solid;
}

.BottomDivCir {
    display: -webkit-inline-box;
    overflow-x: scroll;
    width: 300px;
}
.BottomDivCir::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.BottomDivCir::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }

.BigTesto{
    display: flex;
    flex-direction: column;
}
.allimgs {
    width: 100%;
}

.allBigInvo {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.saveBtns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#Cancel2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperbtm {
    display: flex;
    justify-content: space-between;
}
.UpperInvoice {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;

}
.UpperInvoice::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.UpperInvoice::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.AboveDiv {
    width: 260px;
    display: flex;
    justify-content: space-between;
}
.MidDiv {
    display: flex;
    justify-content: space-between;
    width: 260px;
}
.PriceNM{
    color: red;
    font-weight: 600;
}

.showAdv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 31px;
  }
  
  .advBtn {
    height: 146px;
    width: 62px;
    padding: 0;
    align-items: center;
    border: none;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    background-color: #44bccd;
    color: #ffffff;
  }
  
  .advBtn:hover{
    transition: 0.5s;
    background-color:#b50000 ;
  }
  
  .pAdv {
    writing-mode: tb;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    margin: .0;
    
    font-size: 21px;
    font-weight: 500;
  }
  .allPageFav {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    display: flex;
    flex-direction: row-reverse;
}
.outerAll {
    display: flex;
    flex-direction: row-reverse;
}
.ContfavAdv {
    overflow-y: scroll;
    max-height: 90vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.ContfavAdv::-webkit-scrollbar { 
width: 0px;;  /* Safari and Chrome */
}
.logoDiv {
display: flex;
flex-direction: column;
align-items: center;
}

.bigFavDiv {
border: none;
padding: 10px;
}
.AdvFavDiv {
display: flex;
flex-direction: row;
width: 352px;
margin-top: 10px;
flex-wrap: nowrap;
justify-content: space-between;
box-shadow: 0px 0px 5px #12467a;
border-radius: 10px;
height: 130px;
position: relative;
}
.ContLeft-Adv {
width: 400px;
background-color: #f0f0f0;
overflow-y: scroll;
flex-direction: column;
align-items: center;
padding: 20px;
display: none;

}
.ContLeft-Adv::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.ContLeft-Adv::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.bigWorkDiv {
    width: 100%;
    display: flex;
    border-bottom: 1px solid red;
    justify-content: space-between;
    margin-top: 10px;
}
.info {
    padding: 0;
    margin: 0;
}

.Btns {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}
.mon {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px;
    margin: 5px;
    width: 50px;
    transition: 0.5s;
}

.mon:hover{
    background-color: #b50000;
    color: #fff;
}
.UserDiv {
    display: flex;
    width: 100%;
    margin-top: 43px;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}
.UserDiv::-webkit-scrollbar {width: 2px; height: 4px; background: #ffffff; }
.UserDiv::-webkit-scrollbar-thumb { background-color: #c1c1c1; -webkit-border-radius: 1ex; }

.UserBtn {
    width: 100px;
    max-width: 100px;
    border: none;
    transition: 0.5s;
    box-shadow: 0px 0px 5px;
}
.UserBtn:hover{
    background-color: #b50000;
    color: #fff;
}

.ado{
    background-color: #b50000;
    color: #fff;
}
.motiv {
    display: flex;
}
.btnsSearch {
    display: flex;
    width: 36%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.acpt {
    width: 30px;
    background-color: #44bccd;
    color: #fff;
}
.OuterSearechDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.MidSearchDiv {
    width: 50%;
    height: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-radius: 10px;
}
.tabo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.body-sign {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-evenly;
}
.center-sign {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.signForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.inpo {
    border-radius: 10px;
}
.kilos {
    box-shadow: 0px 0px 5px;
}
.heado {
    padding: 0px;
    margin: 0;
    width: 31%;
    border-radius: 10px;
}
#searchInput {
    border-radius: 10px;
}

.heado{
    margin: 0px;
}
#headoimg{
    height: 90%;
}
#userboxa{
    height: 75%;
}
#browsers{
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: 0px;
    box-shadow: 1px 1px 12px black;
    border-radius: 10px;
    display: none;
    overflow-y:scroll;
    max-height: 60vh;
}
#browsers::-webkit-scrollbar {margin-left: 2px; width: 2px; height: 4px; background: #ffffff; }
#browsers::-webkit-scrollbar-thumb { margin-left: 2px;background-color: #c1c1c1; -webkit-border-radius: 1ex; }
.ico datalist{
    width:100%;
}
#imgdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 34%;
    align-items: center;
    border-bottom: solid 2px;
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: #f0f0f0;	
}
#imgdiv:hover{
    background-color: #851112;
}
#itemphoto{
    width: 21%;
    height: 100%;
}
#searchOption{
    font-size: 31px;
    max-width: 53px;
    font-family: cursive;
}
#contdiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.removeItems {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.innrRemov {
    width: 42%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.removH3 {
    color: #fff;
}
.shadow15{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d0;
    z-index: 55;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
.searchHos {
    width: 30%;
}
.searchHosInput {
    width: 80%;
    border: none;
    box-shadow: 0px 0px 2px;
    border-radius: 10px;
    text-align: center;
}
.searchoRes {
    position: absolute;
    width: 800px;
    display: flex;
    background-color: #eeeeee;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 90%;
    overflow-y: scroll;
    margin-top: 10px;
}


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.innrremoveitem {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.vivo {
    width: 54%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.AllGovern {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
.GovernVal {
    border: none;
    margin: 5px;
    border-radius: 10px;
    width: 100px;
    height: 44px;
    background-color: #9c993d;
    color: #fff;
}
.GovernVal:hover{
    background-color: #d13143;
}
.GovernValColor{
    background-color: #d13143;
}
@media (max-width: 768px) {
    .motiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 106px;
        justify-content: space-around;
    }
    .hlogo {
        width: 50%;

    }
    .heado {
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .searchoBtn{
        width: 96%;
    }
    .popcontainer {
        width: 90%;
    }
    .allInvo {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .invDiv {
        width: 90%;
        height: 344px;
    }
    .invDiv1{
        width: 90%;
        height: 344px;
    }
    .invDiv2{
        width: 90%;
        height: 344px;
    }
    .inpu {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        border-radius: 20px;
        margin-left: 0;
    }
    .mini {
        height: 79%;

    }
    .inrItemPrice {
        width: 76%;
    }
    .allInvoHos {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: column;
    }
    .innerinHosDiv {
        width: 92%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 90%;
        overflow-y: scroll;
        justify-content: flex-start;
        align-items: center;
    }
    .MidRight {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Midlifto {
        width: 100%;
        max-height: 300px;
    }
    .MiddHosName {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .HosDato {
        display: flex;
        flex-direction: column;
        width: 123px;
    }
    .HosDetails {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 158px;
        justify-content: space-evenly;
    }
    .ContLeft-Adv {
        width: 23%;
    }
    .invDivInv {
        width: 305px;
    }
    .BigJobSheet {
        width: 100%;

    }
    
    .info {
        width: 88px;
    }
    .Hos {
        width: 193px;
    }
    .MidSearchDiv {
        width: 89%;
    }
    .SparPartDiv.animate__animated.animate__fadeIn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inrSparePartItem {
        width: 86%;

    }
    .imageClass > img{
        width: 27%;
        width: 80%;
        height: 80%;
        z-index: 100001;
        border-radius: 10px;
    }
    .searchoRes {
        position: absolute;
        width: 100%;
        display: flex;
        background-color: #eeeeee;
        border-radius: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        max-height: 90%;
        overflow-y: scroll;
        margin-top: 10px;
        left: 0;
        align-items: center;
    }
    .invDiv3 {
        width: 65%;
    }
    .invDiv4 {
        width: 65%;
    }
    .invDiv5 {
        width: 65%;
    }
    .invDiv6 {
        width: 65%;
    }
    .AllGovern {
        max-height: 20%;
        overflow-y: scroll;
    }
}