{% extends "thirdPro/thirdBase.html" %}
{% load static %}

{% block thirdCont %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <!-- <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5"> -->
        <div class="m-0 text-primary hlogo">
            <div class="logo">
                <i class="fa-solid fa-cubes" style="color: #181e39 ;font-size: 33px;"></i>
                <a href="/" class="text-decoration-none logoText">
                    <h4 class="h5 h5logo">stock</h4>
                    <h1 class="h1 hlogo2">Master</h1>
                </a>
            </div>
        </div>
    <!-- </a> -->
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link ">Home</a>
            <a href="/InventoryPage" class="nav-item nav-link">Stock</a>
            <a href="/InvoicePage" class="nav-item nav-link ">Invoices</a>
            <a href="/InputPage" class="nav-item nav-link ">Inputs</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu fade-down m-0">
                    <a href="/Hospitals" class="dropdown-item">Hospitals</a>
                    <a href="/pages-price-list.html" class="dropdown-item active">Price List</a>
                    <a href="/setupPage" class="dropdown-item">Setup</a>
                </div>
            </div>
        </div>
        <a href="/signout" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<div class="tabo">
    <div class="mainItemStore1">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <tr>
                        <th>Item ID</th>
                        <th>Item Name</th>       
                        <th>Company Name</th>
                        <th>Analyzer Type</th>
                        <th>Analyzer Name</th>                    
                        <th>Part Number</th>
                        <th>Price</th>
                    </tr>
                </tr>
            </thead>
            <tbody >
            </tbody>
            <tfoot>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>       
                    <th>Company Name</th>
                    <th>Analyzer Type</th>
                    <th>Analyzer Name</th>                    
                    <th>Part Number</th>
                    <th>Price</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


  
	
{%endblock%}
{% block thirdScript %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>	
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>	
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>	
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>	
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>	
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script>
loadData()
$('#example').dataTable( {
                dom: 'Bfrtip',
                order: [0, 'desc'],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                    
                ]
                
            });
    // Premade test data, you can also use your own
    function loadData() {
        $.ajax({
        type: 'GET',
        url: '/priceJson/',
        contentType: "text/plain",
        dataType: 'json',
        success: function (response) {
            myJsonData = response;
            populateDataTable(myJsonData);
            console.log(response.data[0].id)
            
        },
        });
    }

    // populate the data table with JSON data
    function populateDataTable(response) {

        
        var length = Object.keys(response.data).length;
        var table = $('#example').dataTable();
        
        for(var i = 0; i < length; i++) {
            var customer = response.data[i];
            // You could also use an ajax property on the data table initialization
            $('#example').dataTable().fnAddData( [
                // <a id="linko"  >zz</a>,
                customer.id,
                customer.ItemName,
                customer.Item_Model_compName,
                customer.Item_Model_compUnit,
                customer.Item_Model_workFlow,
                customer.partNumber,
                customer.Price,
            ]);
        }
    }                        

</script>

<script>
        var table = $('#example').dataTable()
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
        });
</script>
<script>
    $(document).ready(function () {
    $('#example').dataTable();
});
</script>

<script>

    $(document).ready(function() {
      $('#example').on('click', '#Delo4', function() {
        var table = $('#example').dataTable();
        var row = $(this).parents('tr');
        idnumz = $(this).val()
        console.log(idnumz)
        if ($(row).hasClass('child')) {
          table.row($(row).prev('tr')).remove().draw();
        } else {
          table
            .row($(this).parents('tr'))
            .remove()
            .draw();
        }
        $.ajax({
                url: '/tableRowDel/', // <-- point to server-side PHP script
                dataType:  'json',  // <-- what to expect back from the PHP script, if anything
                data:{
                    'idnumz':idnumz
                },
            });
      });
    });
</script>


{% endblock %}

